<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="StaticFile" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="WebServiceHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="WebServiceHandlerFactory-Integrated-4.0" />
            <remove name="WebAdminHandler-Integrated-4.0" />
            <remove name="vbhtml-ISAPI-4.0_64bit" />
            <remove name="vbhtml-ISAPI-4.0_32bit" />
            <remove name="vbhtml-Integrated-4.0" />
            <remove name="vbhtm-ISAPI-4.0_64bit" />
            <remove name="vbhtm-ISAPI-4.0_32bit" />
            <remove name="vbhtm-Integrated-4.0" />
            <remove name="TRACEVerbHandler" />
            <remove name="TraceHandler-Integrated-4.0" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="SimpleHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="SimpleHandlerFactory-Integrated-4.0" />
            <remove name="ScriptResourceIntegrated-4.0" />
            <remove name="ScriptHandlerFactoryAppServices-Integrated-4.0" />
            <remove name="PageHandlerFactory-ISAPI-4.0_64bit" />
            <remove name="PageHandlerFactory-ISAPI-4.0_32bit" />
            <remove name="PageHandlerFactory-Integrated-4.0" />
            <remove name="OPTIONSVerbHandler" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-soap-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-soap-Integrated-4.0" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_64bit" />
            <remove name="HttpRemotingHandlerFactory-rem-ISAPI-4.0_32bit" />
            <remove name="HttpRemotingHandlerFactory-rem-Integrated-4.0" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
            <remove name="cshtml-ISAPI-4.0_64bit" />
            <remove name="cshtml-ISAPI-4.0_32bit" />
            <remove name="cshtml-Integrated-4.0" />
            <remove name="cshtm-ISAPI-4.0_64bit" />
            <remove name="cshtm-ISAPI-4.0_32bit" />
            <remove name="cshtm-Integrated-4.0" />
            <remove name="AXD-ISAPI-4.0_64bit" />
            <remove name="AXD-ISAPI-4.0_32bit" />
            <remove name="AssemblyResourceLoader-Integrated-4.0" />
            <remove name="aspq-ISAPI-4.0_64bit" />
            <remove name="aspq-ISAPI-4.0_32bit" />
            <remove name="aspq-Integrated-4.0" />
            <add name="dsmapp" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\DSM\Backend\venv1\Scripts\python.exe|E:\DSM\Backend\venv1\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Unspecified" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration>
